body {
  background-color: #f3f3f3;
}
.navbar-light .navbar-toggler-icon {
  color: #d5674e !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
#listaya {
  list-style: none;
  margin-left: 10px;
}
#listaya span {
  margin-left: 10px;
  text-decoration: none;
  box-shadow: 2px 1px 2px #cfcece;
}
#sub {
  box-shadow: 2px 1px 2px #cfcece;
}
#listaya span:hover {
  color: #d5674e;
}
#listaya a {
  text-decoration: none;
  color: black;
}
#listaya a:hover {
  color: #d5674e;
}

#adi {
  min-width: 50px;
}
#listaya li {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Josefin Sans";
}
#mey {
  box-shadow: 5px 5px 2px #cfcece;
  border-radius: 20px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.jumbotron {
  background-image: url(./images/lab.png);
  background-size: cover;

  min-height: 100vh;
}

.navbar-brand {
  color: #d5674e !important;
  font-size: 20px;
  font-weight: bolder;
}
.nav-link {
  font-size: 20px;
  font-weight: 700;
  margin-left: 50px;
  font-family: "Josefin Sans";
}
.nav-link:hover {
  color: #e08b78 !important;
}
#hello {
  margin-top: 150px;
  font-family: "Josefin Sans";
}

#hello:hover {
  color: #d5674e;
}
#education {
  background-color: white;
}

#what {
  color: #d5674e !important ;
  font-weight: 700;
  font-size: 50px;
}
#what2 {
  color: #656e78;
  font-size: 30px;
}
#KFS {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #d5674e;
  font-family: "Josefin Sans";

  margin: 4px;
  padding: 7px;
  border-radius: 15px;
}
#eng {
  color: #212845;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Shadows Into Light";
}
#slide {
  background-color: #f3f3f3;
  margin-bottom: 100px;
}
#front {
  color: #d5674e !important ;
  font-size: 50px;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#certificate {
  height: 300px;
}
#verify {
  margin-top: 220px;
}
#verify2 {
  color: white;
  text-decoration: none;
}
#friends {
  color: #d5674e;
  font-size: 20px;

  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;

  border-radius: 15px;
}
#sayhello {
  font-size: 10px;
  padding: 30px;
}
#hehe {
  font-size: 30px;
}
#touch {
  box-shadow: 5px 5px 2px #cfcece;
  margin-bottom: 20px;

  padding-bottom: 5px;
}
#viewmore {
  background-color: #d5674e;
  border-top-right-radius: 30px;
  font-family: "Josefin Sans";
  color: white;
  font-weight: 900;
  padding: 20px;
  text-decoration: none;
}
#touch2 {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px 2px #cfcece;
  padding-bottom: 10px;
}
#meow1 {
  font-size: 30px;
}
#meow2 a {
  color: #d5674e;
  text-decoration: none;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#meow3 li {
  list-style: square;
}
#meow3 p {
  font-family: "Josefin Sans";
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  #front {
    font-size: 25px;
    font-weight: bold;
  }
  #what {
    font-size: 40px;
  }
  #what2 {
    font-size: 20px;
  }
  #eng {
    font-size: 20px;
    letter-spacing: 0em;
  }
  #KFS {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #d5674e;
    margin: 1px;
    padding: 1px;
  }
  #hello {
    margin-top: 200px;
    font-size: 30px;
  }
  #certificate {
    max-height: 170px;
  }
  #verify {
    margin-top: 70px;
    font-size: 30px;
    color: #d5674e;
    text-decoration: none;
    padding: 2px;
  }
  #morerow {
    margin-top: 150px;
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .navbar-nav {
    position: absolute;
    right: 51%;
    background-color: white;
    padding: 5px;
    padding-right: 30px;
  }
  .nav-link {
    color: #d5674e !important;
  }
}
