body,
html {
  height: 100%;
}
.bodys {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(./images/allback.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-toggler-icon {
  color: #d5674e !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
#listaya {
  list-style: none;
  margin-left: 10px;
}
#listaya span {
  margin-left: 10px;
  text-decoration: none;
  box-shadow: 2px 1px 2px #cfcece;
}
#sub {
  box-shadow: 2px 1px 2px #cfcece;
}
#listaya span:hover {
  color: #d5674e;
}
#listaya a {
  text-decoration: none;
  color: black;
}
#listaya a:hover {
  color: #d5674e;
}

#adi {
  min-width: 50px;
}
#frontimage {
  background: url(./images/front.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
#frontimage i {
  color: white;
}
#backimage {
  background-image: url(./images/back.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

#frontcontent::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(155, 64, 22, 0.22);
}
#listaya li {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Josefin Sans";
}
#mey {
  box-shadow: 5px 5px 2px #cfcece;
  border-radius: 20px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.jumbotron {
  background-image: url(./images/lab.png);
  background-size: cover;
  min-height: 100vh;
}

.navbar-brand {
  color: #d5674e !important;
  font-size: 20px;
  font-weight: bolder;
}
.nav-link {
  font-size: 20px;
  font-weight: 700;
  margin-left: 50px;
  font-family: "Josefin Sans";
}
.nav-link:hover {
  color: #e08b78 !important;
}
#hello {
  margin-top: 150px;
  font-family: "Josefin Sans";
}

#hello:hover {
  color: #d5674e;
}

#what {
  color: #faefd8 !important ;
  font-weight: 700;
  font-size: 50px;
}
#what2 {
  font-weight: 900;
  color: white;
  font-size: 30px;
  font-family: "Josefin Sans";
}
#KFS {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  margin: 4px;
  margin-left: 30px;
  padding: 7px;
  transition: transform 0.2s;
}
#KFS:hover {
  transform: scale(1.5);
}
#eng {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Shadows Into Light";
}
#engaya {
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Shadows Into Light";
}
#slide {

  margin-bottom: 50px;
}
#front {
  color: #d5674e !important ;
  font-size: 50px;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#certificate {
  height: 300px;
}
#verify {
  margin-top: 220px;
}
#verify2 {
  color: white;
  text-decoration: none;
}
#friends {
  color: #d5674e;
  font-size: 20px;

  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;

  border-radius: 15px;
}
#sayhello {
  font-size: 10px;
  padding: 30px;
}
#hehe {
  font-size: 30px;
}

#touch {
  background-image: url(./images/unnamed.jpg);
  position: relative;
  background-size: cover;
}
#touch::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(155, 64, 22, 0.281);
}

#viewmore {
  background-color: #d5674e;
  border-top-right-radius: 30px;
  font-family: "Shadows Into Light";
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding: 20px;
  box-shadow: 4px 4px 4px #cfcece;
  text-decoration: none;
}
#viewmore:hover {
  background-color: #e07d66;
}
#touch2 {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px 2px #cfcece;
  padding-bottom: 10px;
}
#meow1 {
  font-size: 30px;
}
#meow2 a {
  color: #d5674e;
  text-decoration: none;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#meow3 li {
  list-style: square;
}
#meow3 p {
  font-family: "Josefin Sans";
  font-size: 20px;
}
#a7a {
}
#frontcontent {
  position: relative;
  padding-top: 80px;
  margin-left: 10px;
  margin-top: 80px;
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  #front {
    font-size: 25px;
    font-weight: bold;
  }
  #what {
    font-size: 40px;
  }
  #what2 {
    font-size: 20px;
  }
  #eng {
    font-size: 20px;
    letter-spacing: 0em;
  }
  #KFS {
    color: white;
    font-size: 30px;
    text-transform: uppercase;

    margin: 1px;
    padding: 1px;
  }
  #hello {
    margin-top: 200px;
    font-size: 30px;
  }
  #certificate {
    max-height: 170px;
  }
  #verify {
    margin-top: 70px;
    font-size: 30px;
    color: #d5674e;
    text-decoration: none;
    padding: 2px;
  }
  #morerow {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  #frontcontent {
    margin-top: 20px;
  }
  #backimage {
    background-size: cover;
  }
}

@media (max-width: 700px) {
  .navbar-nav {
    width: 100%;
    opacity: 0.9;
    text-align: center;
  }
  .nav-link {
    color: #d5674e !important;
    margin-right: 50px;
    background-color: white;
  }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");
