body,
html {
  height: 100%;
  background-color: #f7fafd;
}
.bodys {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(./images/allback.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-toggler-icon {
  color: #f26d64 !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
#listaya {
  list-style: none;
  margin-left: 10px;
}
#listaya span {
  margin-left: 10px;
  color: #f7fafd;
  text-decoration: none;
}

#listaya span:hover {
  color: #d5674e;
}
#listaya a {
  text-decoration: none;
  color: #f7fafd;
}
#listaya a:hover {
  color: #d5674e;
}

#adi {
  min-width: 50px;
  color: #f26d64;
}
#frontimage {
  background-repeat: no-repeat;
  background-size: cover;
}
#frontimage i {
  color: white;
}
#backimage {
  background-repeat: no-repeat;
  background-size: cover;
}

#frontcontent {
  position: absolute;
  background: #ebedf0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#listaya li {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Josefin Sans";
}
#mey {
  box-shadow: 5px 5px 2px #cfcece;
  border-radius: 20px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.jumbotron {
  background-size: cover;
  padding-bottom: 150px;
}
#a5erwa7d {
  margin-top: 167px;
}
@media screen and (max-width: 800px) {
  .jumbotron {
    height: auto;
  }
  #a5erwa7d {
    margin-top: 0px;
  }
}
.navbar-brand {
  color: #f26d64 !important;
  font-size: 20px;
  font-weight: 500;
}
.nav-link {
  font-size: 15px;
  font-weight: 700;
  margin-left: 50px;
  font-family: "Josefin Sans";
}
.nav-link:hover {
  color: #e08b78 !important;
}
#hello {
  font-family: "Josefin Sans";
}

#hello:hover {
  color: #d5674e;
}

#what {
  color: #f26d64 !important ;
  font-weight: 700;
  font-size: 50px;
}
#what2 {
  font-weight: 900;
  color: #5491b7;
  font-size: 30px;
  font-family: "Josefin Sans";
}
#KFS {
  color: #5491b7;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  margin: 4px;
  margin-left: 30px;
  padding: 7px;
  transition: transform 0.2s;
}
#KFS:hover {
  transform: scale(1.5);
}
#eng {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Shadows Into Light";
}
#engaya {
  color: #f26d64;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Josefin Sans";
}
#slide {
  margin-bottom: 50px;
}
#front {
  color: #f26d64 !important ;
  font-size: 50px;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#certificate {
  height: 270px;

}
#verify {
  margin-top: 220px;
}
#verify2 {
  color: white;
  text-decoration: none;
}
#friends {
  color: #f26d64;
  font-size: 20px;

  font-weight: 500;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;

  border-radius: 15px;
}
#sayhello {
  font-size: 10px;
  padding: 30px;
}
#hehe {
  font-size: 25px;
}
#buttonaya {
  background-color: #f26d64;
}
#viewmore {
  background-color: #f26d64;
  border-top-right-radius: 30px;
  font-family: "Shadows Into Light";
  font-size: 40px;
  color: white;
  font-weight: 900;
  padding: 20px;
  box-shadow: 4px 4px 4px #cfcece;
  text-decoration: none;
}
#viewmore:hover {
  background-color: #e07d66;
}
#touch2 {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px 2px #cfcece;
  padding-bottom: 10px;
}
#meow1 {
  font-size: 30px;
  color: #5491b7;
}
#meow2 a {
  color: #f26d64;
  text-decoration: none;
  font-weight: 600;
  font-family: "Josefin Sans";
}
#meow3 li {
  list-style: square;
  color: black;
}
#meow3 p {
  font-family: "Josefin Sans";
  font-size: 20px;
}
#a7a {
}
#frontcontent {
  position: relative;
  padding-top: 80px;
  margin-left: 10px;
  margin-top: 80px;
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  #front {
    font-size: 25px;
    font-weight: bold;
  }
  #what {
    font-size: 40px;
  }
  #what2 {
    font-size: 20px;
  }
  #eng {
    font-size: 20px;
    letter-spacing: 0em;
  }
  #KFS {
    font-size: 30px;
    text-transform: uppercase;

    margin: 1px;
    padding: 1px;
  }
  #hello {
    margin-top: 200px;
    font-size: 30px;
  }
  #certificate {
    max-height: 170px;
  }
  #verify {
    margin-top: 70px;
    font-size: 30px;
    color: #d5674e;
    text-decoration: none;
    padding: 2px;
  }
  #morerow {
    margin-top: 150px;
    margin-bottom: 50px;
  }
  #frontcontent {
    margin-top: 20px;
  }
  #backimage {
    background-size: cover;
  }
}

@media (max-width: 700px) {
  .navbar-nav {
    width: 100%;
    opacity: 0.9;
    text-align: center;
  }
  .nav-link {
    color: #f26d64 !important;
    margin-right: 50px;
    background-color: white;
  }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");

.section-container {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  padding-bottom: 160px;
}

.section.dark {
  background: #16151c;
}
.section {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.header-section {
  background: #16151c;
}
.section-container.header-component {
  padding: 0;
}
.section-container.footer-component {
  padding: 0;
}
.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 3em);
  width: 6em;
  height: 6em;
  border: 1.1em solid #f26d6463;
  border-left: 1.1em solid #f26d64;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#butonaya {
  transition: transform 0.4s;
}
#butonaya:hover {
  transform: scale(1.2);
}
